
.glitch:hover:before, .glitch:hover:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: inherit;
  overflow:inherit;
  background: inherit;

  clip-path: inset(0 0 0 0);
}
.glitch:hover:before {
  left: 7px;
  text-shadow: 1px 5 green;
  animation: glitch-effect 3s infinite linear alternate-reverse;
}
.glitch:hover:after {
  left: 3px;
  text-shadow: -1px 0 red;
  animation: glitch-effect 2s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-effect {
  0% {
    clip: rect(88px, 9999px, 33px, 0);
  }
  5% {
    clip: rect(68px, 9999px, 13px, 0);
  }
  10% {
    clip: rect(84px, 9999px, 33px, 0);
  }
  15% {
    clip: rect(75px, 9999px, 16px, 0);
  }
  20% {
    clip: rect(4px, 9999px, 93px, 0);
  }
  25% {
    clip: rect(84px, 9999px, 18px, 0);
  }
  30% {
    clip: rect(39px, 9999px, 53px, 0);
  }
  35% {
    clip: rect(31px, 9999px, 72px, 0);
  }
  40% {
    clip: rect(10px, 9999px, 92px, 0);
  }
  45% {
    clip: rect(63px, 9999px, 86px, 0);
  }
  50% {
    clip: rect(1px, 9999px, 87px, 0);
  }
  55% {
    clip: rect(84px, 9999px, 39px, 0);
  }
  60% {
    clip: rect(78px, 9999px, 1px, 0);
  }
  65% {
    clip: rect(65px, 9999px, 42px, 0);
  }
  70% {
    clip: rect(24px, 9999px, 39px, 0);
  }
  75% {
    clip: rect(13px, 9999px, 73px, 0);
  }
  80% {
    clip: rect(100px, 9999px, 52px, 0);
  }
  85% {
    clip: rect(89px, 9999px, 47px, 0);
  }
  90% {
    clip: rect(41px, 9999px, 47px, 0);
  }
  95% {
    clip: rect(87px, 9999px, 74px, 0);
  }
  100% {
    clip: rect(27px, 9999px, 77px, 0);
  }
}

@keyframes glitch-effect {
  0% {
    clip: rect(88px, 9999px, 33px, 0);
  }
  5% {
    clip: rect(68px, 9999px, 13px, 0);
  }
  10% {
    clip: rect(84px, 9999px, 33px, 0);
  }
  15% {
    clip: rect(75px, 9999px, 16px, 0);
  }
  20% {
    clip: rect(4px, 9999px, 93px, 0);
  }
  25% {
    clip: rect(84px, 9999px, 18px, 0);
  }
  30% {
    clip: rect(39px, 9999px, 53px, 0);
  }
  35% {
    clip: rect(31px, 9999px, 72px, 0);
  }
  40% {
    clip: rect(10px, 9999px, 92px, 0);
  }
  45% {
    clip: rect(63px, 9999px, 86px, 0);
  }
  50% {
    clip: rect(1px, 9999px, 87px, 0);
  }
  55% {
    clip: rect(84px, 9999px, 39px, 0);
  }
  60% {
    clip: rect(78px, 9999px, 1px, 0);
  }
  65% {
    clip: rect(65px, 9999px, 42px, 0);
  }
  70% {
    clip: rect(24px, 9999px, 39px, 0);
  }
  75% {
    clip: rect(13px, 9999px, 73px, 0);
  }
  80% {
    clip: rect(100px, 9999px, 52px, 0);
  }
  85% {
    clip: rect(89px, 9999px, 47px, 0);
  }
  90% {
    clip: rect(41px, 9999px, 47px, 0);
  }
  95% {
    clip: rect(87px, 9999px, 74px, 0);
  }
  100% {
    clip: rect(27px, 9999px, 77px, 0);
  }
}